@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="alert alert-secondary" role="alert">
    Account confirmed...
    click here to <a asp-page="Login">Login</a>
</div>